
@media (max-width:768px) {
    .logo_line{
        justify-content: center;
        padding-top: 39px;
        padding-bottom: 141px;
    
        &__logo{
            display: block;

            &__img{
                width: 137px;
            }
        }
    
        &__header_goal{
            display: none;
        }
    }

    .slogan{
        font-size: $fs10;
        line-height: 32px;
    
        &__one{
            margin-left: 10px;
            letter-spacing: 1.76px;
        }
    
        &__two{
            margin: 0;
            letter-spacing: 1.76px;
            margin-top: 28px;
            margin-left: 65px;
            margin-right: 0;
        }
    
        &__line{
            border: 1px solid $c3;
            width: 292px;
            top: 50%;
            left: 3%;
            transform: rotate(128deg);
        }
    }

    .nav{
        order: 2;
        padding: 0 37px 20px 35px;
        flex-wrap: wrap;

        &__link{
            font-size: $fs2;
            padding: 0 1.5%;
        } 
    }

    .store_link{
        padding-bottom: 45px;
        padding-top: 118px;
    
        &__app{
            width: 142px;
            height: 39px;
            font-size: $fs1;
            letter-spacing: 0.4px;
            margin: 0 4px;
            border-radius: 20px;
        }

        &__footer{
            padding-top: 65px;
            padding-bottom: 127px;
        }
    }
    
    .store{
        font-size: $fs6;
    
        &__app_store{
            margin-left: 10px;
        }
    
        &__play_market{
            margin-left: 8px;
        }
    }

    .fotorama{
        display: block;
        width: 100%;
        background-color: #f5f4f9;

        & h5{
            font-size: $fs9;
            line-height: 34px;
            letter-spacing: 1.4px;
            padding-top: 81px;
            padding-left: 19px;
            padding-right: 19px;

            &::before{
                font-size: $fs3;
                letter-spacing: 0.7px;
                border-bottom: 4px solid $c5;
                line-height: 28px;
            }
        }

        & p{
            font-size: $fs4;
            line-height: 18px;
            padding-left: 18px;
            padding-right: 15px;
            color: $c8;
            padding-bottom: 32px;
        }

        &__dot{
            border: 5px solid $c20;
        }

        &__nav{
            
            &__frame.fotorama__active .fotorama__dot{
            border: 5px solid $c21;
            background-color: $c21;
            }

            &--dots .fotorama__nav__frame {
            height: 50px;
            }

            &__frame {
            height: 50px;
            }

            &::before{
                display: none;
            }
            &::after{
                display: none;
            }
        }

        &__stage{
            &::before{
                display: none;
            }

            &::after{
                display: none;
            }
        }
    }

    .flex{
        &__padding{
            width: 100%;
            padding-left: 19px;
            padding-right: 19px;
        }
    }

    .invisible{
        display: none;
    }
    
    .athlets{
    
        &__title{
            font-size: $fs14-1;
            line-height: 60px;
            padding-top: 20px;
            padding-bottom: 225px;
        }
    
        &__line{
            width: 250px;
            border: 1px solid $c11;          
            top: 195px;
            left: -20px;
            right: 0;
            margin: 0 auto;
        }
    
        &__fooballer{
            width: 192px;
            top: 90px;
            left: 0;
            right: 0;
            margin: 0 auto;
            
        }
    
        &__plus1{
            text-align: center;
            font-size: $fs5;
            top: 90px;
            left: -160px;
            right: 0;
            margin: 0 auto;
        }
    
        &__plus2{
            text-align: center;
            font-size: $fs5;
            top: 100px;
            left: -120px;
            right: 0;
            margin: 0 auto;
        }
    }
    
    .players {
    
        &__padding{
            padding-left: 19px;
            padding-right: 19px;
        }
    
        &__basketballer{
            left: 0;
            right: 0;
            margin: 0 auto;
            top: 100px;
            width: 302px;
        }
    
        &__line1{
            width: 124px;
            left: 170px;
            top: 170px;
        }
    
        &__line2{
            display: block;
            width: 146px;
            left: -95px;
            top: 267px;
        }
    }

    .steps{

        &__block {
            min-height: 351px;

            &__height{
                min-height: auto;
            }

            &__img{
                height: 100%;
                object-fit: cover;
            }
    
            &__count{
                top: 84%;
                left: 19px;
                width: 70px;
                height: 70px;
                font-size: $fs3;
                line-height: 15px;

                &__number{
                    border-bottom: 3px solid $c16;
                }
            }
    
            &__title{
                font-size: $fs9;
                padding-top: 30px;
                padding-left: 19px;
                padding-right: 19px;
            }
    
            &__text{
                padding-left: 19px;
                padding-right: 19px;
                margin-top: 10px;
                font-size: $fs5;
            }
    
            &__underscore{
                margin-left: 19px;
                margin-top: 15px;
                margin-bottom: 49px; 
            }
        }
    }

    .footer{
        &__bg__color_bottom{
            padding-top: 19px;
            padding-bottom: 13px;
        }

        &__logo_line{
            padding-top: 97px;
            padding-bottom: 0;
    
            &__link img{
                width: 73px;
            }
            &__advise{
                padding-left: 15px;
                padding-right: 15px;
    
                &__title{
                    font-size: $fs11;
                    line-height: 34px;
                    letter-spacing: 1.7px;
                }
    
                &__text{
                    font-size: $fs4;
                    line-height: 15px; 
                }
    
                &__title::before{
                    width: 80px;
                    top: 75%;
                    left: 3%;
                    border: 2px solid $c11;
                }
    
                &__title::after{
                    border: 2px solid $c11;
                    width: 153px;
                    top: 75%;
                    left: 36%;
                }
            }
        }

        &__bottom__social_network{
            font-size: $fs5;
        }
    }
}


