
@media (max-width:992px){

    .fotorama{
        display: none;
    }

    .logo_line{
        padding: 53px 20px 190px 20px;
    }

    .slogan{
        font-size: $fs16;
        line-height: 73px;

        &__one{
            margin-left: 11.6%;
            letter-spacing: 3.52px;
        }

        &__two{
            margin-right: 5%;
            margin-left: 25.65%;
            text-align: left;
            letter-spacing: 3.52px;
            z-index: 3;
        }

        &__line{
            z-index: 1;
            top: 50%;
            left: 0;
            right: 0;
            margin: 0 auto;
        }
    }

    .nav{
        justify-content: space-around;
        padding: 170px 0 116px 0;

        &__link{
            font-size: $fs5;
            padding: 0;
        } 
    }

    .store_link{
        padding-bottom: 91px;

        &__app{
            margin: 0 15px;
        }
    }

    .position{
        width: 35%;
    }

    .flex{
        &__padding{
            width: 65%;
            padding-left: 4%;
            padding-right: 6%;
        }
    }
    
    .athlets{

        &__title{
            padding-top: 65px;
            padding-bottom: 45px;
        }

        &__connection{

            &__text{
                font-size: $fs6;
                letter-spacing: 0.9px;
                padding-bottom: 50px;
            }
        }
    
        &__collaboration{
            padding-top: 50px;

            &__bg{
                background-color: $c19-1;
            }
    
            &__text{
                font-size: $fs6;
                letter-spacing: 0.9px;
                padding-bottom: 34px;
            }
        }
    
        &__growth{
            padding-top: 38px;
    
            &__text{
                font-size: $fs6;
                letter-spacing: 0.9px;
                padding-bottom: 28px;
            }
        }
    
        &__line{
            top: 435px;
            right: -98px;
        }
    
        &__fooballer{
            width: 497px;
            top: 94px;
            right: 86%;
        }
    
        &__plus1{
            top: 70px;
            right: 223px;
        }
    
        &__plus2{
            top: 80px;
            right: 203px;
        }
    }

    .players{
    
        &__connection{
    
            &__text{
                padding-right: 0;
                padding-bottom: 17px;
            }
        }
    
        &__collaboration{
            padding-top: 58px;
    
            &__text{
                padding-right: 0;
                padding-bottom: 70px;
            }
        }
    
        &__growth{
            padding-top: 50px;
    
            &__text{
                padding-bottom: 47px;
            }
        }
    
        &__line1{
            width: 375px;
            right: -27px;
            top: 345px;
        }
    
        &__line2{
            display: none;
        }
    
        &__basketballer{
            right: -255px;
            top: 20px;
            max-width: 690px;
        }
    
        &__plus1{
            top: 110px;
            right: 197px;
        }
    
        &__plus2{
            top: 95px;
            right: 217px;
        }
    
        &__plus3{
            display: none;
        }
    }

    .steps{

        &__block {

            &.steps__block__order{
                width: 100%;
            }
    
            &__order{
                
                &__3{
                    order: 3;
                }

                &__4{
                    order: 4;
                }

                &__5{
                    order: 5;
                }
            }
    
            &__count{
                top: 85%;
                left: 33px;
                width: 116px;
                height: 116px;
            }
    
            &__title{

                padding-top: 77px;
                padding-left: 34px;
                padding-right: 34px;
            }
    
            &__text{
                padding-left: 34px;
                padding-right: 35px;
                margin-top: 20px;
                width: auto;
            }
    
            &__underscore{
                margin-left: 34px;
                margin-top: 30px;
                margin-bottom: 63px; 
            }
        }
    }

    .footer{
        &__bg__color_bottom{
            padding: 36px 20px;
        }
    
        &__logo_line{
            flex-wrap: wrap;
            padding-top: 128px;
            padding-bottom: 195px;
    
            &__link{
                margin: 0;
                width: 100%;
                text-align: center;
            }
    
            &__advise{
                padding-right: 18px;
    
                &__title{
                    font-size: $fs18;
                    line-height: 80px;
                    letter-spacing: 4.85px;
                    margin-top: 70px;
                    padding-bottom: 10px;
                }
    
                &__text{
                    text-align: center;
                }
    
                &__title::before{
                    top: 75%;
                    left: -2%;
                }
    
                &__title::after{
                    top: 76%;
                    left: 32%;
                }
            }
        }
        &__bottom{
            justify-content: center;
    
            &__logo{
                display: none;
            }
    
            &__nav{
                display: none;
            }

            &__social_network{
                margin: 0;
            }
        }
    }

    .store_link{
        padding-bottom: 110px;
    
        &__footer{
            padding-bottom: 129px;
        }
    }
}







