
.hidden{
    overflow: hidden;
}

.fotorama{
    display: none;
}

.flex{
    
    &__end{
        display: flex;
        justify-content: flex-end;
    }

    &__start{
        display: flex;
        justify-content: flex-start;
    }

    &__padding{
        width: 50%;
        padding-left: 3%;
        padding-right: 10%;
        position: relative;
    }
}

.athlets{

    &__title{
        margin: 0;
        font-family: $ff3;
        color: $c6;
        font-size: $fs19;
        line-height: 90px;
        text-transform: uppercase;
        padding-top: 95px;
        padding-bottom: 77px;
    }

    &__connection{
        margin: 0;
        font-family: $ff3;
        color: $c7;
        font-size: $fs13;
        line-height: 34px;
        text-transform: uppercase;
        letter-spacing: 1.8px;
        padding-bottom: 24px;

        &__text{
            margin: 0;
            color: $c8;
            font-family: $ff1;
            font-size: $fs7;
            letter-spacing: 1px;
            padding-bottom: 60px;
        }
    }

    &__connection::before{
        content: '01';
        font-size: $fs6;
        color: $c8;
        letter-spacing: 0.9px;
        border-bottom: 5px solid $c5;
        margin-right: 13px;
        line-height: 18px;
        vertical-align: top;
    }

    &__collaboration{
        margin: 0;
        font-family: $ff3;
        color: $c7;
        font-size: $fs13;
        line-height: 34px;
        text-transform: uppercase;
        letter-spacing: 1.8px;
        padding-top: 57px;
        padding-bottom: 28px;

        &__bg{
            background-color: $c19;
        }

        &__text{
            margin: 0;
            color: $c8;
            font-family: $ff1;
            font-size: $fs7;
            letter-spacing: 1px;
            padding-bottom: 54px;
            line-height: 28px;
        }
    }

    &__collaboration::before{
        content: '02';
        font-size: $fs6;
        color: $c8;
        letter-spacing: 0.9px;
        border-bottom: 5px solid $c5;
        margin-right: 13px;
        line-height: 18px;
        vertical-align: top;
    }

    &__growth{
        margin: 0;
        font-family: $ff3;
        color: $c7;
        font-size: $fs13;
        line-height: 34px;
        text-transform: uppercase;
        letter-spacing: 1.8px;
        padding-top: 84px;
        padding-bottom: 30px;

        &__bg{
            background-color: $c5;
        }

        &__text{
            margin: 0;
            color: $c2;
            font-family: $ff1;
            font-size: $fs7;
            letter-spacing: 1px;
            padding-bottom: 96px;
            line-height: 28px;
        }
    }

    &__growth::before{
        content: '03';
        font-size: $fs6;
        color: $c8;
        letter-spacing: 0.9px;
        border-bottom: 5px solid $c10;
        margin-right: 13px;
        line-height: 18px;
        vertical-align: top;
    }

    &__line{
        width: 870px;
        border: 3px solid $c11;
        background-color: $c11;
        position: absolute;
        top: 380px;
        left: -800px;
        transform: rotate(131deg);
    }

    &__fooballer{
        max-width: 678px;
        position: absolute;
        z-index: 1;
        top: 30px;
        right: 95%;
    }

    &__plus1{
        font-size: $fs6;
        color: $c9;
        position: absolute;
        top: 135px;
        left: -565px;
    }

    &__plus2{
        font-size: $fs6;
        color: $c12;
        position: absolute;
        top: 145px;
        left: -545px;
    }
}

.players {

    &__padding{
        padding-left: 14%;
        padding-right: 4%;
    }

    &__basketballer{
        left: 78%;
        top: -7%;
        max-width: 991px;
        z-index: 5;
        position: absolute;
    }

    &__plus1{
        top: 112px;
        left: 111%;
    }

    &__plus2{
        top: 97px;
        left: 109%;
    }

    &__plus3{
        top: 350px;
        left: 159%;
        position: absolute;
    }

    &__line1{
        width: 430px;
        left: 138%;
        top: 192px;
    }

    &__line2{
        width: 430px;
        left: 90%;
        top: 540px;
    }

    &__connection__text{
        padding-bottom: 64px;
    }

    &__collaboration{
        padding-bottom: 40px;

        &__bg {
            background-color: $c13;
        }

        &__text{
            padding-bottom: 64px;
        }
    }

    &__growth{
        padding-top: 98px;

        &__bg{
            background-color: $c14;
        }
    }

    &__growth::before{
        color: $c12;
    }
}