.footer{
    &__bg{
        background-image: url('../imgs/footer_img.png');
        background-repeat: no-repeat;
        background-size: cover;

        &__color_top{
            background-color: $c1;
        }

        &__color_bottom{
            background-color: $c18;
            padding-top: 71px;
            padding-bottom: 70px;
        }
    }

    &__logo_line{
        display: flex;
        justify-content: center;
        padding-top: 247px;
        padding-bottom: 156px;

        &__link{
            display: block;
            margin-right: 18px;

            &:hover{
                opacity: 0.8;
                transition: 0.5s;
            }

            &:active{
                opacity: 1;
            }
        }

        &__advise{
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            padding-left: 18px;

            &__title{
                margin: 0;
                color: $c2;
                font-size: $fs19;
                font-family: $ff3;
                line-height: 90px;
                text-transform: uppercase;
                letter-spacing: 4.96px;
                z-index: 1;
            }

            &__text{
                margin: 0;
                font-family: $ff3;
                font-size: $fs13;
                line-height: 36px;
                color: $c17;
                text-transform: uppercase;
                z-index: 1;
            }

            &__title::before{
                content: '';
                border: 3px solid $c11;
                background-color: $c11;
                width: 209px;
                z-index: -1;
                position: absolute;
                top: 50%;
                left: -3%;
                transform: rotate(128deg);
            }

            &__title::after{
                content: '';
                border: 3px solid $c11;
                background-color: $c11;
                width: 417px;
                z-index: -1;
                position: absolute;
                top: 50%;
                left: 37%;
                transform: rotate(128deg);
            }
        }
    }
    &__bottom{
        display: flex;
        justify-content: space-between;
        padding: 0 50px;

        &__logo{

            & img{
                width: 172px;
            }

            &:hover{
                opacity: 0.8;
                transition: 0.5s;
            }

            &:active{
                opacity: 1;
            }
        }

        &__social_network{
            font-size: $fs9;
            width: 140px;
            display: flex;
            justify-content: space-between;
            margin-left: 160px;

            & a:hover{
                opacity: 0.8;
                transition: 0.5s;
            }

            & a:active{
                opacity: 1;
            }

        }

        &__nav{
            font-size: $fs7;
            letter-spacing: 1px;
            font-family: $ff1;

            &__contact_us{
                padding-right: 10px;
                border-right: 1px solid $c2;

                &:hover{
                    opacity: 0.8;
                    transition: 0.5s;
                }
    
                &:active{
                    opacity: 1;
                }
            }

            &__terms_conditions{
                padding-left: 10px;

                &:hover{
                    opacity: 0.8;
                    transition: 0.5s;
                }
    
                &:active{
                    opacity: 1;
                }
            }
        }
    }
}