
.header_bg{
    background-image: url('../imgs/football.jpg.png');
    background-size: cover;

    &__color{
        background-color: $c1;
    }
}

.header{
    display: flex;
    flex-direction: column;
}

.logo_line{
    display: flex;
    justify-content: space-between;
    padding: 54px 195px 309px 195px;

    &__logo{
        display: block;

        &:hover{
            opacity: 0.8;
            transition: 0.5s;
        }

        &:active{
            opacity: 1;
        }

        &__img{
            width: 189px;
        }
    }

    &__header_goal{
        color: $c2;
        font-family: $ff2;
        font-size: $fs3;
        text-transform: uppercase;
        letter-spacing: 0.7px;
        line-height: 35px;
    }
}

.slogan{
    color: $c2;
    font-family: $ff3;
    font-size: $fs19;
    line-height: 100px;
    text-transform: uppercase;
    letter-spacing: 4.5px;
    position: relative;

    &__one{
        margin: 0;
        margin-left: 10%;
        z-index: 3;
        display: block;
        position: relative;
    }

    &__two{
        margin: 0;
        margin-top: 29px;
        margin-right: 10%;
        margin-left: 10%;
        text-align: right;
        z-index: 1;
        display: block;
        position: relative;
    }

    &__line{
        border: 3px solid $c3;
        background-color: $c3;
        width: 406px;
        z-index: 2;
        position: absolute;
        top: 50%;
        left: 0;
        right: 510px;
        margin: 0 auto;
        transform: rotate(128deg);
    }
}

.nav{
    display: flex;
    justify-content: flex-end;
    padding-right: 198px;
    padding-bottom: 180px;

    & a{
        color: $c4;
        font-family: $ff2;
        font-size: $fs3;
        line-height: 34px;
        text-transform: uppercase;
        letter-spacing: 0.7px;
        padding-left: 3%;
        white-space: nowrap;
        transition: 0.5s;
    }

    & a:hover{
        color: $c2;
    }

    & a:active{
        font-weight: 700;
    }
}

.store_link{
    display: flex;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 129px;

    &__app{
        width: 311px;
        height: 77px;
        background-color: $c5;
        font-family: $ff2;
        font-size: $fs3;
        text-transform: uppercase;
        letter-spacing: 0.7px;
        margin: 0 1.3%;
        border-radius: 39px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 16px 24px $c14;

        &:hover{
            opacity: 0.7;
            transition: 0.5s;
        }

        &:active{
            font-weight: 700;
            box-shadow: 0 16px 24px $c14-1;
        }
    }

    &__footer{
        padding-bottom: 197px;
    }
}

.store{
    font-size: $fs14;

    &__app_store{
        margin-left: 29px;
    }

    &__app_store::after{
        content: '\A app store';
        white-space: pre;
        font-family: $ff4;
    }

    &__play_market{
        margin-left: 25px;
    }

    &__play_market::after{
        content: '\A google play ';
        white-space: pre;
        font-family: $ff4;
    }
}