
// colors

$c1: rgba(10, 14, 52, 0.9);

$c2: #ffffff;

$c3: #5e42b0;

$c4: #9071ea;

$c5: #5e42b0;

$c6: #e7e7e7;

$c7: #c1c1c1;

$c8: #000000;

$c9: #cfc6e7;

$c10:#efefef;

$c11: #9172e6;

$c12: #9173e6;

$c13: #f5f5f7;

$c14: #0a0e34;

$c14-1: #070707;

$c15: #f5f6f7;

$c16: #8e7bc8;

$c17: #a496ca;

$c18: rgba(10, 14, 52, 0.95);

$c19: #f5f4fa;

$c19-1: #f5f4f9;

$c20: #d8d8d8;

$c21: #5c3caf;

// font-sizes

$fs1: 8px;

$fs2: 12px;

$fs3: 14px;

$fs4: 15px;

$fs5: 16px;

$fs6: 18px;

$fs7: 20px;

$fs8: 24px;

$fs9: 28px;

$fs10: 32px;

$fs11: 34px;

$fs12: 35px;

$fs13: 36px;

$fs14: 40px;

$fs14-1: 50px;

$fs15: 55px;

$fs16: 64px;

$fs17: 70px;

$fs18: 80px;

$fs19: 90px;

$fs20: 99px;


// Font-family

// font-family: 'ProximaNova-Regular'
$ff1: 'fontbf9f5d50c1b928ff21436517a1a95ad9';

// font-family: 'ProximaNova-Light'
$ff2: 'fontac51ad8a36d5bab6da11d454bcd06561';

// font-family: 'ProximaNova-Bold'
$ff3:'font72b6f2c9990bd3d37b8013a59ed78902';

// font-family: 'ProximaNova-Semibold'
$ff4: 'fontf14eee643541cf03a10f26c944cc29f5';