@font-face {
    font-family: 'fontbf9f5d50c1b928ff21436517a1a95ad9';
        
        src:    url('https://nomail.com.ua/files/eot/bf9f5d50c1b928ff21436517a1a95ad9.eot?#iefix') format('embedded-opentype'),
                url('https://nomail.com.ua/files/woff/bf9f5d50c1b928ff21436517a1a95ad9.woff') format('woff'),
                url('https://nomail.com.ua/files/woff2/bf9f5d50c1b928ff21436517a1a95ad9.woff2') format('woff2');
    }

@font-face {
    font-family: 'fontac51ad8a36d5bab6da11d454bcd06561';
        
        src:    url('https://nomail.com.ua/files/eot/ac51ad8a36d5bab6da11d454bcd06561.eot?#iefix') format('embedded-opentype'),
                url('https://nomail.com.ua/files/woff/ac51ad8a36d5bab6da11d454bcd06561.woff') format('woff'),
                url('https://nomail.com.ua/files/woff2/ac51ad8a36d5bab6da11d454bcd06561.woff2') format('woff2');
    }

@font-face {
    font-family: 'font72b6f2c9990bd3d37b8013a59ed78902';
        
        src:    url('https://nomail.com.ua/files/eot/72b6f2c9990bd3d37b8013a59ed78902.eot?#iefix') format('embedded-opentype'),
                url('https://nomail.com.ua/files/woff/72b6f2c9990bd3d37b8013a59ed78902.woff') format('woff'),
                url('https://nomail.com.ua/files/woff2/72b6f2c9990bd3d37b8013a59ed78902.woff2') format('woff2');
    }

@font-face {
    font-family: 'fontf14eee643541cf03a10f26c944cc29f5';
        
        src:    url('https://nomail.com.ua/files/eot/f14eee643541cf03a10f26c944cc29f5.eot?#iefix') format('embedded-opentype'),
                url('https://nomail.com.ua/files/woff/f14eee643541cf03a10f26c944cc29f5.woff') format('woff'),
                url('https://nomail.com.ua/files/woff2/f14eee643541cf03a10f26c944cc29f5.woff2') format('woff2');
    }

    @import 'variables';

    @import 'header';

    @import 'athlets_players';

    @import 'steps';

    @import 'footer';

    @import '992';

    @import '768.scss';

    @import '320.scss';

    

    * {
        box-sizing: border-box;
    }
    
    *a {
        text-decoration: none;
        color: $c2;
    }

    body{
        margin: 0;
    }

    .container{
        max-width: 1920px;
        margin: 0 auto;
    }